<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blinky Client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Blinky Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Glance - Blinky Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>206108231BC3876E00D6CF66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20E83E4B1BC30AA9008816EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20E83E611BC30AA9008816EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20E83E6C1BC30AA9008816EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
